
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRenderer/VertexShader.generated.h
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRenderer/VertexShader.gen.cpp
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRenderer/Timestamp
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRenderer/SoftRendererClasses.h
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRenderer/SoftRenderer.init.gen.cpp
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRenderer/SoftRenderer.generated.h
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRenderer/SoftRenderer.gen.cpp
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRenderer/RenderScene.generated.h
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRenderer/RenderScene.gen.cpp
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRenderer/RenderObject.generated.h
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRenderer/RenderObject.gen.cpp
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRenderer/FrameBuffer.generated.h
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRenderer/FrameBuffer.gen.cpp
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Development/SoftRendererEditor/Definitions.SoftRendererEditor.h
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/Development/SoftRenderer/Definitions.SoftRenderer.h
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererEditor/UE4Editor-SoftRendererEditor-Win64-DebugGame.suppressed.lib
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererEditor/UE4Editor-SoftRendererEditor-Win64-DebugGame.suppressed.exp
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererEditor/UE4Editor-SoftRendererEditor-Win64-DebugGame.lib.response
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererEditor/UE4Editor-SoftRendererEditor-Win64-DebugGame.lib
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererEditor/UE4Editor-SoftRendererEditor-Win64-DebugGame.exp
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererEditor/UE4Editor-SoftRendererEditor-Win64-DebugGame.dll.response
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererEditor/Module.SoftRendererEditor.cpp.txt
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererEditor/Module.SoftRendererEditor.cpp.obj.response
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererEditor/Module.SoftRendererEditor.cpp.obj
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererEditor/Module.SoftRendererEditor.cpp
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererEditor/LiveCodingInfo.json
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererEditor/Definitions.SoftRendererEditor.h
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererEditor/Default.rc2.res
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/UE4Editor-SoftRenderer-Win64-DebugGame.suppressed.lib
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/UE4Editor-SoftRenderer-Win64-DebugGame.suppressed.exp
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/UE4Editor-SoftRenderer-Win64-DebugGame.lib.response
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/UE4Editor-SoftRenderer-Win64-DebugGame.lib
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/UE4Editor-SoftRenderer-Win64-DebugGame.exp
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/UE4Editor-SoftRenderer-Win64-DebugGame.dll.response
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/Module.SoftRenderer.gen.cpp.txt
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/Module.SoftRenderer.gen.cpp.obj.response
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/Module.SoftRenderer.gen.cpp.obj
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/Module.SoftRenderer.gen.cpp
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/Module.SoftRenderer.cpp.txt
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/Module.SoftRenderer.cpp.obj.response
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/Module.SoftRenderer.cpp.obj
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/Module.SoftRenderer.cpp
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/LiveCodingInfo.json
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/Definitions.SoftRenderer.h
SoftRenderer/Plugins/SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRenderer/Default.rc2.res
SoftRenderer/Plugins/SoftRenderer/Content/Example01/MapExample1.umap
SoftRenderer/Plugins/SoftRenderer/Content/Example01/Example2.uasset
SoftRenderer/Plugins/SoftRenderer/Content/Example01/Example1.uasset
SoftRenderer/Plugins/SoftRenderer/Binaries/Win64/UE4Editor-Win64-DebugGame.modules
SoftRenderer/Plugins/SoftRenderer/Binaries/Win64/UE4Editor-SoftRendererEditor-Win64-DebugGame.pdb
SoftRenderer/Plugins/SoftRenderer/Binaries/Win64/UE4Editor-SoftRendererEditor-Win64-DebugGame.dll
SoftRenderer/Plugins/SoftRenderer/Binaries/Win64/UE4Editor-SoftRenderer-Win64-DebugGame.pdb
SoftRenderer/Plugins/SoftRenderer/Binaries/Win64/UE4Editor-SoftRenderer-Win64-DebugGame.dll
SoftRenderer/Intermediate/TargetInfo.SoftRendererDemo.json
SoftRenderer/Intermediate/TargetInfo.json
SoftRenderer/Intermediate/TargetInfo.Engine.json
SoftRenderer/Intermediate/ReimportCache/3688439234.bin
SoftRenderer/Intermediate/ProjectFiles/UE4.vcxproj.user
SoftRenderer/Intermediate/ProjectFiles/UE4.vcxproj.filters
SoftRenderer/Intermediate/ProjectFiles/UE4.vcxproj
SoftRenderer/Intermediate/ProjectFiles/SoftRendererDemo.vcxproj.user
SoftRenderer/Intermediate/ProjectFiles/SoftRendererDemo.vcxproj.filters
SoftRenderer/Intermediate/ProjectFiles/SoftRendererDemo.vcxproj
SoftRenderer/Intermediate/ProjectFiles/.Rider/Win64/DebugGame/Editor/UE4.json
SoftRenderer/Intermediate/ProjectFiles/.Rider/Win64/DebugGame/Editor/SoftRendererDemo.json
SoftRenderer/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
SoftRenderer/Intermediate/Config/CoalescedSourceConfigs/UIEditorPerProjectUserSettings.ini
SoftRenderer/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
SoftRenderer/Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
SoftRenderer/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
SoftRenderer/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
SoftRenderer/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
SoftRenderer/Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
SoftRenderer/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
SoftRenderer/Intermediate/CachedAssetRegistry.bin
SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRendererDemo/Timestamp
SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRendererDemo/SoftRendererDemoGameModeBase.generated.h
SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRendererDemo/SoftRendererDemoGameModeBase.gen.cpp
SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRendererDemo/SoftRendererDemoClasses.h
SoftRenderer/Intermediate/Build/Win64/UE4Editor/Inc/SoftRendererDemo/SoftRendererDemo.init.gen.cpp
SoftRenderer/Intermediate/Build/Win64/UE4Editor/Development/SoftRendererDemo/Definitions.SoftRendererDemo.h
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/UE4Editor-SoftRendererDemo-Win64-DebugGame.suppressed.lib
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/UE4Editor-SoftRendererDemo-Win64-DebugGame.suppressed.exp
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/UE4Editor-SoftRendererDemo-Win64-DebugGame.lib.response
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/UE4Editor-SoftRendererDemo-Win64-DebugGame.lib
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/UE4Editor-SoftRendererDemo-Win64-DebugGame.exp
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/UE4Editor-SoftRendererDemo-Win64-DebugGame.dll.response
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/SoftRendererDemoGameModeBase.gen.cpp.txt
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/SoftRendererDemoGameModeBase.gen.cpp.obj.response
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/SoftRendererDemoGameModeBase.gen.cpp.obj
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/SoftRendererDemoGameModeBase.cpp.txt
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/SoftRendererDemoGameModeBase.cpp.obj.response
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/SoftRendererDemoGameModeBase.cpp.obj
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/SoftRendererDemo.init.gen.cpp.txt
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/SoftRendererDemo.init.gen.cpp.obj.response
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/SoftRendererDemo.init.gen.cpp.obj
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/SoftRendererDemo.cpp.txt
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/SoftRendererDemo.cpp.obj.response
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/SoftRendererDemo.cpp.obj
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/LiveCodingInfo.json
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/Definitions.SoftRendererDemo.h
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/SoftRendererDemo/Default.rc2.res
SoftRenderer/Intermediate/Build/Win64/UE4Editor/DebugGame/ActionHistory.bin
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/Development/UnrealEd/SharedPCH.UnrealEd.ShadowErrors.h
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.ShadowErrors.h
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.RTTI.ShadowErrors.h
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.NonOptimized.ShadowErrors.h.txt
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.NonOptimized.ShadowErrors.h.pch.response
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.NonOptimized.ShadowErrors.h.pch
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.NonOptimized.ShadowErrors.h.obj
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.NonOptimized.ShadowErrors.h
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.NonOptimized.ShadowErrors.cpp
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/SoftRendererDemoEditor.uhtpath
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/SoftRendererDemoEditor.uhtmanifest
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/SoftRendererDemoEditor.deps
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/Slate/SharedPCH.Slate.ShadowErrors.h
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/Metadata.dat
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/Makefile.bin
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/Engine/SharedPCH.Engine.ShadowErrors.h
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.txt
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.pch.response
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.pch
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.obj
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.cpp
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/DependencyCache.bin
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/CoreUObject/SharedPCH.CoreUObject.ShadowErrors.h
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/Core/SharedPCH.Core.ShadowErrors.h
SoftRenderer/Intermediate/Build/Win64/SoftRendererDemoEditor/DebugGame/ActionHistory.bin
SoftRenderer/Intermediate/Build/Win64/ActionHistory.bin
SoftRenderer/Intermediate/Build/SourceFileCache.bin
SoftRenderer/Intermediate/Build/BuildRules/SoftRendererDemoModuleRulesManifest.json
SoftRenderer/Intermediate/Build/BuildRules/SoftRendererDemoModuleRules.pdb
SoftRenderer/Intermediate/Build/BuildRules/SoftRendererDemoModuleRules.dll
SoftRenderer/Intermediate/AssetRegistryCache/fd097148.bin
SoftRenderer/Intermediate/AssetRegistryCache/fafa43e6.bin
SoftRenderer/Intermediate/AssetRegistryCache/fadabcb7.bin
SoftRenderer/Intermediate/AssetRegistryCache/fa8163b8.bin
SoftRenderer/Intermediate/AssetRegistryCache/f65fdf43.bin
SoftRenderer/Intermediate/AssetRegistryCache/f003dff1.bin
SoftRenderer/Intermediate/AssetRegistryCache/e9af47f0.bin
SoftRenderer/Intermediate/AssetRegistryCache/e4801435.bin
SoftRenderer/Intermediate/AssetRegistryCache/d53a6b6d.bin
SoftRenderer/Intermediate/AssetRegistryCache/d416bb60.bin
SoftRenderer/Intermediate/AssetRegistryCache/cd3d18ab.bin
SoftRenderer/Intermediate/AssetRegistryCache/c3e54bfd.bin
SoftRenderer/Intermediate/AssetRegistryCache/c148781b.bin
SoftRenderer/Intermediate/AssetRegistryCache/c10fd3b6.bin
SoftRenderer/Intermediate/AssetRegistryCache/bc3e4403.bin
SoftRenderer/Intermediate/AssetRegistryCache/b767abee.bin
SoftRenderer/Intermediate/AssetRegistryCache/a7a968a6.bin
SoftRenderer/Intermediate/AssetRegistryCache/a26bd54b.bin
SoftRenderer/Intermediate/AssetRegistryCache/9fc19117.bin
SoftRenderer/Intermediate/AssetRegistryCache/97aee374.bin
SoftRenderer/Intermediate/AssetRegistryCache/96c93001.bin
SoftRenderer/Intermediate/AssetRegistryCache/966b449c.bin
SoftRenderer/Intermediate/AssetRegistryCache/8e605d86.bin
SoftRenderer/Intermediate/AssetRegistryCache/8c2b0d47.bin
SoftRenderer/Intermediate/AssetRegistryCache/847601a8.bin
SoftRenderer/Intermediate/AssetRegistryCache/7e921443.bin
SoftRenderer/Intermediate/AssetRegistryCache/7ca039a3.bin
SoftRenderer/Intermediate/AssetRegistryCache/760317de.bin
SoftRenderer/Intermediate/AssetRegistryCache/677c5bbd.bin
SoftRenderer/Intermediate/AssetRegistryCache/645f07b2.bin
SoftRenderer/Intermediate/AssetRegistryCache/5ae8f943.bin
SoftRenderer/Intermediate/AssetRegistryCache/521e495c.bin
SoftRenderer/Intermediate/AssetRegistryCache/50836bfa.bin
SoftRenderer/Intermediate/AssetRegistryCache/46cccdbb.bin
SoftRenderer/Intermediate/AssetRegistryCache/40a296e3.bin
SoftRenderer/Intermediate/AssetRegistryCache/40976f9d.bin
SoftRenderer/Intermediate/AssetRegistryCache/3d23ad89.bin
SoftRenderer/Intermediate/AssetRegistryCache/34eee4e3.bin
SoftRenderer/Intermediate/AssetRegistryCache/2c587bb2.bin
SoftRenderer/Intermediate/AssetRegistryCache/2c072445.bin
SoftRenderer/Intermediate/AssetRegistryCache/23e9575a.bin
SoftRenderer/Intermediate/AssetRegistryCache/1af87ad9.bin
SoftRenderer/Intermediate/AssetRegistryCache/10065655.bin
SoftRenderer/Intermediate/AssetRegistryCache/0ab648e9.bin
SoftRenderer/Intermediate/AssetRegistryCache/07e2a1e1.bin
SoftRenderer/Intermediate/AssetRegistryCache/07c8c9af.bin
SoftRenderer/Intermediate/AssetRegistryCache/04d4e082.bin
SoftRenderer/Intermediate/AssetRegistryCache/01067eab.bin
SoftRenderer/Content/Maps/NewMap.umap
SoftRenderer/Binaries/Win64/UE4Editor-Win64-DebugGame.modules
SoftRenderer/Binaries/Win64/UE4Editor-SoftRendererDemo-Win64-DebugGame.pdb
SoftRenderer/Binaries/Win64/UE4Editor-SoftRendererDemo-Win64-DebugGame.dll
SoftRenderer/Binaries/Win64/SoftRendererDemoEditor-Win64-DebugGame.target
SoftRenderer/.vs/SoftRendererDemo/v15/.suo
SoftRenderer/.idea/.idea.SoftRendererDemo/.idea/vcs.xml
SoftRenderer/.idea/.idea.SoftRendererDemo/.idea/indexLayout.xml
SoftRenderer/.idea/.idea.SoftRendererDemo/.idea/.name
SoftRenderer/SoftRendererDemo.sln
SoftRenderer/Saved/Logs/UnrealVersionSelector-2023.03.19-13.28.26.log
SoftRenderer/Saved/Logs/UnrealVersionSelector-2023.02.25-00.36.24.log
SoftRenderer/Saved/Logs/SoftRendererDemo.log
SoftRenderer/Saved/Logs/SoftRendererDemo-backup-2023.03.19-05.29.20.log
SoftRenderer/Saved/Logs/SoftRendererDemo-backup-2023.03.19-05.26.44.log
SoftRenderer/Saved/Logs/SoftRendererDemo-backup-2023.03.19-04.56.44.log
SoftRenderer/Saved/Config/WorldState/1233850818.json
SoftRenderer/Saved/Config/Windows/VariantManagerContent.ini
SoftRenderer/Saved/Config/Windows/UnrealInsightsSettings.ini
SoftRenderer/Saved/Config/Windows/Synthesis.ini
SoftRenderer/Saved/Config/Windows/Scalability.ini
SoftRenderer/Saved/Config/Windows/RuntimeOptions.ini
SoftRenderer/Saved/Config/Windows/PostSplashScreen.ini
SoftRenderer/Saved/Config/Windows/PhysXVehicles.ini
SoftRenderer/Saved/Config/Windows/Paper2D.ini
SoftRenderer/Saved/Config/Windows/OculusVR.ini
SoftRenderer/Saved/Config/Windows/Niagara.ini
SoftRenderer/Saved/Config/Windows/MotoSynth.ini
SoftRenderer/Saved/Config/Windows/MagicLeapLightEstimation.ini
SoftRenderer/Saved/Config/Windows/MagicLeap.ini
SoftRenderer/Saved/Config/Windows/Lightmass.ini
SoftRenderer/Saved/Config/Windows/Input.ini
SoftRenderer/Saved/Config/Windows/Hardware.ini
SoftRenderer/Saved/Config/Windows/GameUserSettings.ini
SoftRenderer/Saved/Config/Windows/Game.ini
SoftRenderer/Saved/Config/Windows/Engine.ini
SoftRenderer/Saved/Config/Windows/EditorScriptingUtilities.ini
SoftRenderer/Saved/Config/Windows/EditorPerProjectUserSettings.ini
SoftRenderer/Saved/Config/Windows/Editor.ini
SoftRenderer/Saved/Config/Windows/DeviceProfiles.ini
SoftRenderer/Saved/Config/Windows/Compat.ini
SoftRenderer/Saved/Config/CrashReportClient/UE4CC-Windows-B4F84C334EF06C580AC671A49ED56FDD/CrashReportClient.ini
SoftRenderer/Saved/Config/CrashReportClient/UE4CC-Windows-5DA3EBDF4BAD8AE76418CD9E8610A10E/CrashReportClient.ini
SoftRenderer/Saved/Config/CrashReportClient/UE4CC-Windows-582A159F4C424D55C6ACB1B85A6B011F/CrashReportClient.ini
SoftRenderer/Saved/Config/CrashReportClient/UE4CC-Windows-21D7253E41694C83DDF2C0A1B7ACE24E/CrashReportClient.ini
SoftRenderer/Saved/AutoScreenshot.png
SoftRenderer/Saved/Autosaves/PackageRestoreData.json
SoftRenderer/SoftRendererDemo.sln
SoftRenderer/SoftRendererDemo.sln
